<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Miejscowość</th>
        <th scope="col">Ulica</th>
        <th scope="col">Nr budynku</th>
        <th scope="col">Opis</th>
      </tr>
    </thead>
    <tbody>  
      <tr *ngFor="let p of allHouses$ | async">
        <td>{{p.postCode}}</td>
        <td>{{p.town}}</td>
        <td>{{p.street}}</td>
        <td></td>
        <td>  <img [src]="p.image" width="200" height="200"/></td>
        <td>
            <button type="button" class="btn btn-primary">Edytuj</button>
            <button type="button" class="btn btn-danger" (click)="toF(p.houseId)">Usuń</button>      
        </td>
      </tr>
    </tbody>
  </table>