<ul>
  <li>
    <img src="../../assets/sensor/humidity.png" #humidity> - Czujnik wilgotności
  </li>
  <li>
    <img src="../../assets/sensor/temperature.png" #temperature> - Czujnik temperatury
  </li>
  <li>
    <img src="../../assets/sensor/smoke.png" #smoke> - Czujnik dymu
  </li>
  <li>
    <img src="../../assets/sensor/move.png" #move> - Czujnik ruchu
  </li>
</ul>
<canvas #canvas (click)="mouse($event)" width="800" height="600" 
style="
border:1px solid black;
background: url('plan.jpg');
background-size: 800px 600px;">
</canvas>

<button (click)="createSensors()" class="btn btn-primary pull-right">Twórz</button>
<button (click)="drawSensors()" class="btn btn-primary pull-right">Rysuj</button>